*.exe
*.broguerec
*.broguesave
*.png
*.dll
Brogue Source/brogue.depend
Brogue Source/brogue.layout
BrogueHighScores.txt
BrogueScoresArchive.txt
Brogue Source/libtcod-*/*
Brogue Source/obj/*
Brogue Source/SDL-*/*
